<div>
    <h1>{{user.name}}'s Dashboard</h1>
</div>

<button id="new-post" class="cssbtn">New Post</button>

<div>
    {{#if user.posts.length}}
    <div class="d-flex mt-3 row flex-column-reverse dashboard">
        {{#each user.posts as |post|}}
        <div class="card col-10 mb-3">
        <a href="/post/{{post.id}}">
            <div class="text-white">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p>Posted on {{format_date date_created}}</p>
                    <p class="card-text">{{post.content}}</p>
                </div>
            </div>
        </a>
        <button class="btn btn-primary cssbtn col-4 m-auto" id="edit-{{post.id}}" data-id="{{post.id}}" type="click">Edit</button>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>


<script src="./js/dashboard.js"></script>