<div class="card public-post col-10">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
        <p class="card-text">{{post.content}}</p>
    </div>
    <button id="comment" class="col-4 m-auto">Comment</button>
</div>

{{!-- Show only when 'comment' button is clicked --}}
<div>
    <form class="form comment-form">
        <div class="form-group mb-3">
            <label for="comment" class="col-sm-4 col-form-label custom-label">Comment:</label>
            <input class="form-input col-sm-6" type="text" id="comment-text" autocomplete="off"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary cssbtn" id="add-comment" data-id="{{post.id}}" type="submit">Add
                Comment</button>
        </div>
    </form>
</div>


<div>
    {{#if post.comments.length}}
    <div class="comments">
        {{#each post.comments as |comment|}}
        <div class="card post-comment">
            <div class="card-body">
                <h5 class="card-title">{{comment.content}}</h5>
                <p>- {{comment.user.name}}, {{format_date comment.date_created}}</p>
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>



<script src="/js/pubpost.js"></script>